Conceitos_basicos_C#/ConceitosCSharp2/Exemplos/2_WCF/Demonstracao1/App_WebReferences/ProxyLinguagem/svcLinguagem.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="svcLinguagem" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3791/Demonstracao1/Servicos/svcLinguagem.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3791/Demonstracao1/Servicos/svcLinguagem.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3791/Demonstracao1/Servicos/svcLinguagem.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IsvcLinguagem_Listar_InputMessage">
    <wsdl:part name="parameters" element="tns:Listar" />
  </wsdl:message>
  <wsdl:message name="IsvcLinguagem_Listar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarResponse" />
  </wsdl:message>
  <wsdl:message name="IsvcLinguagem_Inserir_InputMessage">
    <wsdl:part name="parameters" element="tns:Inserir" />
  </wsdl:message>
  <wsdl:message name="IsvcLinguagem_Inserir_OutputMessage">
    <wsdl:part name="parameters" element="tns:InserirResponse" />
  </wsdl:message>
  <wsdl:portType name="IsvcLinguagem">
    <wsdl:operation name="Listar">
      <wsdl:input wsaw:Action="http://tempuri.org/IsvcLinguagem/Listar" message="tns:IsvcLinguagem_Listar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsvcLinguagem/ListarResponse" message="tns:IsvcLinguagem_Listar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Inserir">
      <wsdl:input wsaw:Action="http://tempuri.org/IsvcLinguagem/Inserir" message="tns:IsvcLinguagem_Inserir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsvcLinguagem/InserirResponse" message="tns:IsvcLinguagem_Inserir_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IsvcLinguagem" type="tns:IsvcLinguagem">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Listar">
      <soap:operation soapAction="http://tempuri.org/IsvcLinguagem/Listar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Inserir">
      <soap:operation soapAction="http://tempuri.org/IsvcLinguagem/Inserir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="svcLinguagem">
    <wsdl:port name="BasicHttpBinding_IsvcLinguagem" binding="tns:BasicHttpBinding_IsvcLinguagem">
      <soap:address location="http://localhost:3791/Demonstracao1/Servicos/svcLinguagem.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>