Conceitos_basicos_C#/ConceitosCSharp2/Exemplos/2_WCF/Demonstracao1/App_WebReferences/ProxyLinguagem/svcLinguagem.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLinguagem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Linguagem" nillable="true" type="tns:Linguagem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLinguagem" nillable="true" type="tns:ArrayOfLinguagem" />
  <xs:complexType name="Linguagem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Linguagem" nillable="true" type="tns:Linguagem" />
</xs:schema>